/* category */
.container__category {
  padding: 0 16px;

  .category {
    padding: 12px 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    .category__h3 {
      margin-bottom: 24px;
      font-size: 2.1rem;
      font-weight: 500;
      line-height: 2.1;

    }

    .Categories {
      position: relative;
      width: 100%;

      .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
          display: flex;
          flex-flow: column;
          gap: 4px;
          align-items: center;

          .category__link {
            text-decoration: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 160px;

            .category__img img {
              width: 90px;
              height: 90px;
            }

            & p {
              color: #0c0c0c;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 2.17;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}

/* Disable html code ( category 1024 ) */
.container__category__1024 {
  display: none;
}
