.container__all__amazing {
  padding: 0 16px;
  margin-top: 20px;

  .all__amazing {
    .all__amazing__title {
      padding: 12px 0;

      p {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.1;
      }
    }

    .all__amazing__main {
      display: flex;
      width: 100%;


      .slide__box {
        display: none;
      }

      .all__amazing__products {
        width: 100%;
        position: relative;

        .all__amazing__products__head{
          border-bottom: 1px solid #e0e0e2;
          width: calc(100% + 32px);
          padding: 12px 12px 8px 0;
          margin: 0 -16px;
          position: sticky;
          top: 56px;
          z-index: 20;
          background-color: #fff;

          

          .sort{
            width: 100%;
            height: 50px;
            display: none;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            flex-wrap: wrap;
            white-space: nowrap;

            .sort__right{
              display: flex;
              align-items: center;
              gap: 16px;

              > span{
                    font-weight: 400;
                    line-height: 2.17;
                    font-size: 1.2rem;
                    color: #81858b;
              }

              .sort__text{
                padding: 12px 0;
                display: flex;
                align-items: center;

                svg{
                  display: block;
                }

                span{
                      font-weight: 700;
                      line-height: 2.17;
                      font-size: 1.2rem;
                      color: #3f4064;

                }
              }
            }

            .sort__left{
              font-weight: 400;
              line-height: 2.17;
              font-size: 1.2rem;
              color: #81858b;
            }
          }

          .filter{
            width: 100%;
            display: flex;
            gap: 4px;
            
            input[id=filter__1]:checked {
              ~ .filter__left label[for=filter__1] {
                order: -1;

                .filter__button{
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
                }
              }
            }

            input[id=filter__2]:checked {
              ~ .filter__left label[for=filter__2] {
                order: -1;

                .filter__button{
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
                }
              }
            }

            input[id=filter__3]:checked {
              ~ .filter__left label[for=filter__3] {
                order: -1;

                .filter__button{
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
                }
              }
            }

            input[id=filter__4]:checked {
              ~ .filter__left label[for=filter__4] {
                order: -1;

                .filter__button{
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
                }
              }
            }

            input[id=filter__5]:checked {
              ~ .filter__left label[for=filter__5] {
                order: -1;

                .filter__button{
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
                }
              }
            }

            input[id=filter__6]:checked {
             ~ .filter__left label[for=filter__6] {
                order: -1;

                .filter__button{
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
                }
              }
            }

            input[id=filter__7]:checked {
              ~ .filter__left label[for=filter__7] {
                order: -1;

                .filter__button{
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
                }
              }
            }

            input[id=filter__8]:checked {
              ~ .filter__left label[for=filter__9] {
                order: -1;

                .filter__button{
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
                }
              }
            }

            input[type=checkbox]:checked {
              ~ .filter__right .filter__button:nth-child(2){
                border: none;
                color: #ef4056;
                background: rgba(239, 64, 86, .1);

                svg path{
                  fill: #ef4056;
                }
              }
            }

            input[type=checkbox]{
              display: none;
            }

            .filter__button{
              border-radius: 10rem;
              display: flex;
              align-items: center;
              height: 3.2rem;
              border: 1px solid #e0e0e2;
              padding: 4px 12px;

              .filter__icon{
                margin-left: 4px;
              }

              svg{
                display: flex;
              }
              span{
                    font-size: 1.1rem;
                    font-weight: 400;
                    line-height: 2.17;
                    white-space: nowrap;
                    color: 3f4064;
              }
            }

            .filter__right{
              display: flex;
              gap: 4px;
            }

            .filter__left{
              display: flex;
              gap: 4px;
              overflow-x: scroll;
              scrollbar-width: none;

              .filter__icon{
                margin-right: 8px;
                margin-bottom: 4px;
                margin-left: 0;
              }
            }
          }
        }

        .products {
          position: relative;
          display: flex;
          
  
          
          

          section {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            height:fit-content;
            

            .product {
              border-bottom: 1px solid #f0f0f1;
              .product__link {
                text-decoration: none;

                & article {
                  padding: 8px 0;
                  height: 100%;

                  .headline__product {
                    margin-bottom: 4px;
                    display: flex;
                    align-items: center;

                    .last__auction {
                      margin-bottom: 4px;
                      display: flex;
                      align-items: center;

                      > div {
                        display: flex;
                        align-items: center;
                        color: rgb(251, 52, 73);
                        font-weight: 800;
                        line-height: 2.17;

                        span {
                          font-size: 1.1rem;
                          font-weight: 800;
                          line-height: 2.17;
                        }

                        .last__auction__image {
                          margin-left: 4px;
                          img {
                            width: 20px;
                            height: 20px;
                            display: block;
                          }
                        }
                      }
                    }

                    .br__space {
                      font-size: 1.1rem;
                      font-weight: 800;
                      line-height: 2.17;
                    }

                    .headline__product__img {
                      width: 116px;
                      height: 14px;
                      margin-left: 4px;

                      & img {
                        width: 116px;
                        height: 14px;
                      }
                    }
                  }

                  .product__information {
                    position: relative;
                    display: flex;
                    

                    .product__image__information {
                      margin-left: 12px;
                      position: relative;
                      display: flex;

                      .product__picture {
                        width: 118px;
                        height: 118px;

                        .product__pic {
                          width: inherit;
                          height: inherit;

                          & img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                          }
                        }

                        .product__coloring {
                          margin-top: 8px;
                          width: 118px;
                          height: 8px;
                          display: flex;
                          gap: 8px;
                          justify-content: center;

                          span,
                          div {
                            display: flex;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                          }
                        }

                        .add__product {
                          position: absolute;
                          bottom: 0;
                          right: 0;

                          .add__product__icon {
                            background-color: #fff;
                            margin: 0 8px 8px 0;
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            border: 1px solid #ef4056;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          }
                        }
                      }
                    }

                    .product__text__information {
                      display: flex;
                      flex-direction: column;
                      width: calc(100% - 118px);

                      .free__send {
                        margin-bottom: 4px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        color: #81858b;
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 2.17;

                        > div {
                          padding: 0 8px;
                          display: flex;
                          align-items: center;
                          gap: 4px;

                          .free__send__image img {
                            width: 18px;
                            height: 18px;
                            display: block;
                          }
                        }
                      }

                      .product__title {
                        height: 52px;
                        overflow: hidden;

                        h3 {
                          color: #3f4064;
                          font-size: 1.1rem;
                          font-weight: 700;
                          line-height: 2.17;
                        }
                      }

                      .star--send {
                        margin-bottom: 4px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        & div {
                          display: flex;
                          align-items: center;
                          justify-content: center;

                          .send__icon {
                            margin-left: 4px;
                          }

                          .star__icon {
                            margin-right: 8px;
                          }
                        }

                        .star p {
                          font-size: 1.1rem;
                          font-weight: 700;
                          line-height: 2.17;
                          color: #3f4064;
                        }

                        .send {
                          p {
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 2.17;
                            color: #62666d;
                          }

                          .remaining {
                            color: #ef394e;
                          }
                        }
                      }

                      .price {
                        display: flex;
                        flex-direction: column;

                        .final__price--discount {
                          display: flex;
                          justify-content: end;
                          align-items: center;

                          .final__price {
                            width: calc(100% - 34px);
                            display: flex;
                            align-items: center;
                            justify-content: end;
                            gap: 4px;

                            span {
                              font-size: 1.4rem;
                              font-weight: 700;
                              line-height: 2.1;
                              color: #3f4064;
                            }

                            .toman__icon {
                              height: 16px;
                            }
                          }

                          .discount {
                            background-color: #d32f2f;
                            border-radius: 16px;
                            height: 20px;
                            width: 34px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 4px 0;

                            span {
                              font-size: 1.1rem;
                              font-weight: 700;
                              line-height: 2.17;
                              color: #fff;
                            }
                          }
                        }

                        .price__before__discount {
                          padding-left: 20px;
                          display: flex;
                          align-items: center;
                          justify-content: end;

                          span {
                            text-decoration: line-through;
                            font-size: 1.1rem;
                            font-weight: 400;
                            line-height: 2.17;
                            color: #c0c2c5;
                          }
                        }
                      }

                      .timer {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        padding-top: 4px;
                        font-size: 1.1rem;
                        font-weight: 700;
                        line-height: 2.17;
                        color: #ef394e;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
