/* 
         css list :
        1. digikala__Services__main
        1. banners
*/

/* 1. digikala__Services__main */
.container__amazing__categories__1024 {
  max-width: 1676px;
}

/* 1. digikala__Services__main */
.container__amazing__big__slider {
  max-width: 1676px;
  margin: 0 auto;
  padding: 0 16px;
}



/* 1. big__slider */
.container__all__amazing{

  .all__amazing{

      .all__amazing__main{

          .all__amazing__products{
              .products{
                  section {
                      display: grid;
                      grid-template-columns: repeat(5, 1fr);
                  }
              }

          }
      }
  }
}

/* 1. big__slider */
.container__white__amazing{
  width: 1676px;
  margin: 0 auto;
}


.big__slider__head{
  width: 1644px;
  margin: 0 auto;

}


/* header */
header {

  .fixed__header {

    

    .container__wFull {
      width: 1676px;
      margin: 0 auto;
    }

  }

  nav{
    width: 100%;
    .menu--select__city {
      width: 100%;
      padding: 0 calc((100% - 1676px) / 2);
    }
  }
}

/* chosen amazing */
.container__chosen__amazing{
  width: 1676px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0 16px;

  .chosen__amazing{
    border-radius: 8px;
  }
}



.product:nth-child(4n){
                  border-left: 1px solid #f0f0f1 !important;
                }
.product:nth-child(5n){
                  border-left: none !important;
                }