/* 
         css list :
        1. digikala__Services__main
        1. banners
*/

/* 1. digikala__Services__main */
.container__amazing__categories__1024 {
  max-width: 1676px;
}

/* 1. digikala__Services__main */
.container__amazing__big__slider {
  max-width: 1676px;
  margin: 0 auto;
  padding: 0 16px;
}



/* 1. big__slider */
.container__all__amazing{

  .all__amazing{

      .all__amazing__main{

          .all__amazing__products{
              .products{
                  section {
                      display: grid;
                      grid-template-columns: repeat(5, 1fr);
                  }
              }

          }
      }
  }
}

/* 1. big__slider */
.container__white__amazing{
  width: 1676px;
  margin: 0 auto;
}


