.container__all__amazing{
  .all__amazing{
    .all__amazing__main{
      .all__amazing__products{
          

          .products{
            section {
              display: grid;
              grid-template-columns: repeat(2, 1fr);

          
              .product {
                
                .product__link {
                  & article {
                    padding: 12px 16px;
                    

                    .headline__product {
                      margin-bottom: 4px;
                      display: flex;
                      align-items: center;
          
                      .last__auction {
                        margin-bottom: 4px;
                        display: flex;
                        align-items: center;
          
                        > div {
                          display: flex;
                          align-items: center;
                          color: rgb(251, 52, 73);
                          font-weight: 800;
                          line-height: 2.17;
          
                          span {
                            font-size: 1.1rem;
                            font-weight: 800;
                            line-height: 2.17;
                          }
          
                          .last__auction__image {
                            margin-left: 4px;
                            img {
                              width: 20px;
                              height: 20px;
                              display: block;
                            }
                          }
                        }
                      }
          
                      .br__space {
                        font-size: 1.1rem;
                        font-weight: 800;
                        line-height: 2.17;
                      }
          
                      .headline__product__img {
                        width: 116px;
                        height: 14px;
                        margin-left: 4px;
          
                        & img {
                          width: 116px;
                          height: 14px;
                        }
                      }
                    }
          
                    .product__information {
                      position: relative;
                      display: flex;
                      flex-direction: column;
          
                      .product__image__information {
                        margin-left: 0;
                        position: relative;
                        display: flex;
                        justify-content: center;
          
                        .product__picture {
                          width: 240px;
                          height: 240px;
                          }
          
                          .product__coloring {
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            padding: 4px;
                            margin: 0;
                            width: auto;
                            height: auto;
          
                            span,
                            div {
                              display: flex;
                              width: 8px;
                              height: 8px;
                              border-radius: 50%;
                              
                            }
                          }
          
                          
                        }
                      }
          
                      .product__text__information {
                        display: flex;
                        flex-direction: column;
                        width: 100% !important;
          
                        
                      }
                    }
                  }
                }

                .product:nth-child(2n - 1){
                  border-left: 1px solid #f0f0f1;
                }

                .product:hover{
                  box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
                }
              }
          }

          
      }
    }
  }
}









