/* 
         css list :
        1. big__slider 
        1. digikala__Services__main
        1. banners
*/

/* 1. big__slider */
.container__big__slider {
  height: 300px;

  .big__slider__swiper .swiper-slide img {
    height: 300px;
  }
}

/* 1. digikala__Services__main */
.container__digikala__Services__main {
  padding: 0 16px;

  .digikala__Services__main {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 8px 12px;

    .digikala__Service__link {
      width: auto;

      span {
        font-size: 1.1rem;
      }
    }
  }
}

/* 1. banners */
.container__banners {
  padding: 0 16px;

  .banners {
    display: flex;
    flex-wrap: nowrap;

    .four__banner__link {
      width: calc((100% - (3 * 16px)) / 4);
    }

    .two__banner__link {
      width: calc((100% - 16px) / 2);
    }
  }
}

/* 1. your visit */
.container__your__visit {
  padding: 0 16px;

  .your__visit__products {
    border: 1px solid #e0e0e2;
    border-radius: var(--large-radius);
    flex-direction: row;

    .your__visit__product__link {
      width: calc((100% - 1px) / 2);
    }
  }
}

/* 1. digiclub */
.container__digiclub {
  padding: 0 16px;

  .digiclub {
    padding: 12px 16px;
    border-radius: var(--large-radius);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .digiclub__items {
      margin-top: 0;

      .digiclub__item {
        .digiclub__item__link {
          flex-direction: row;

          .digiclub__item__img {
            height: 60px;
          }

          .digiclub__item__text {
            flex-direction: row;
            margin-right: 16px;
          }
        }
      }
    }
  }
}

/* 1. readings */
.container__readings {
  padding: 0 16px;

  .readings {
    .reading__items {
      padding: 0;
      flex-direction: row;

      .reading__item__link {
        min-width: unset;
        min-height: unset;
      }
    }
  }
}

/* 1. amazing supermarket */
.container__amazing__supermarket {
  padding: 0 16px;

  .amazing__supermarket {
    padding: 16px 40px 12px;
    min-height: 110px;

    .top__div {
      display: flex;
      justify-content: space-between;

      .amazing__supermarket__title {
        justify-content: unset;

        .amazing__supermarket__icon img {
          width: 66px;
          height: 62px;
        }

        .amazing__supermarket__img {
          margin: 0 20px;

          & img {
            width: 250px;
            height: 28px;
          }
        }
      }

      .amazing__supermarket__products {
        justify-content: flex-end;

        margin-top: 0;
        margin-right: 16px;

        .amazing__supermarket__product {
          align-items: flex-start;
          overflow: hidden;
          flex-wrap: wrap;
          justify-content: flex-end;
          max-height: 74px;

          .amazing__supermarket__product__link {
            padding: 8px;
            margin-left: 8px;
            margin-bottom: 16px;

            .product__img {
              width: 58px;
              height: 58px;
            }
          }
        }

        & :nth-child(n + 4) {
          display: flex;
        }

        .amazing__supermarket__other {
          padding: 12px 20px;
          background-color: #fff;
          border-radius: 22px;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 2.17;
            display: flex;
            color: #39ae00;
            white-space: nowrap;
          }

          .other__svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

/* 1. bestselling */
.container__bestselling__1024 {
  padding: 0 16px;
  display: block;

  .bestselling {
    border: 1px solid #e0e0e2;
    border-radius: var(--large-radius);

    .bestselling__head {
      padding: 0 20px;
      justify-content: center;
      position: relative;

      .bestselling__others__button {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .bestselling__products {
      margin-top: 28px;
      position: relative;

      .swiper {
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          /* margin: 0 !important; */

          .bestselling__products__column {
            margin-left: 20px;

            .bestselling__product {
              width: auto;
            }
          }
        }
      }
    }
  }
}

.container__bestselling__0 {
  display: none;
}

/* 1. support */
.support {
  display: block;
  position: relative;
  z-index: 10;

  .support__button {
    all: unset;
    padding: 12px;
    position: fixed;
    left: 50px;
    bottom: 10px;
    background-color: #ef4056;
    border-radius: 50%;

    .support__icon {
      height: 24px;
    }
  }
}

/* 1. header */
header {
  /* line 1 : header picture */
  .header__picture__wFull {
    div {
      height: 60px;
    }
  }

  /* line 2 : search bar */
  .container__wFull {
    width: var(--full-width);

    .searchbar--logo--login {
      margin: 0 auto;
      max-width: 1676px;
      padding: 12px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .searchbar--logo {
        display: flex;
        align-items: center;

        /* logo digikala */
        .header__logo {
          display: inline-block;
          margin-left: 20px;

          > div {
            height: 30px;
          }
        }

        /* searchbar */
        .grow__searchbar {
          .searchbar__header {
            padding: 0 16px;
            display: flex;
            align-items: center;
            background-color: #f0f0f1;
            border-radius: var(--medium-radius);
            width: 600px;
            height: 44px;

            .search__icon {
              cursor: pointer;
              height: 24px;
            }

            .search__text {
              padding: 0 16px;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 2.17;
              color: #81858b;
              width: 544px;
            }
          }
        }
      }

      .login--shopping__cart {
        display: flex;
        align-items: center;

        /* login */
        .login__button__header {
          all: unset;

          & button {
            height: 40px;
            padding: 8px 16px;
            border: 1px solid #e0e0e2;
            border-radius: var(--medium-radius);
            background-color: #fff;
            cursor: pointer;

            & div {
              /*  کدهای استایل متنvvvvvvvv  */
              color: #0c0c0c;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 2.17;
              /*  کدهای استایل متن^^^^^^^^^^ */

              display: flex;
              height: 22px;
              align-items: center;

              .login__icon__header {
                margin-left: 8px;
              }
            }
          }
        }

        /* vertical line */
        .vertical__line {
          width: 1px;
          height: 24px;
          margin: 0 12px;
          display: inline-block;
          background-color: #e0e0e2;
        }

        /* shopping cart */
        .shopping__cart__header {
          display: flex;
          align-items: center;

          a {
            width: 40px;
            height: 40px;
            padding: 8px;
          }
        }
      }
    }
  }

  .searchbar__0 {
    display: none;
  }

  nav {
    max-width: 1676px;
    margin: 0 auto;

    .menu--select__city {
      white-space: nowrap;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu {
        display: flex;
        align-items: center;

        .categories__menu {
          display: flex;
          height: 40px;
          
          position: relative;

          .categories__menu__link {
            text-decoration: none;
            padding-left: 20px;
            display: flex;
            align-items: center;

            .categories__menu__icon {
              margin-left: 4px;
              height: 20px;
            }

            span {
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 2.15;
              color: #3f4064;
            }
          }

          .dropdown__menu{
            height: calc(100vh - 200px);
            position: absolute;
            z-index: 10;
            top: 40px;
            direction: ltr;

            .dropdown__categories__menu{
              height: inherit;
              overflow-y: scroll;
              width: 200px;
              background-color: #f5f5f5;
              border-radius: 0 8px 0 0;
              border-right: 1px solid #f0f0f1;

              .category__menu__link{
                direction: rtl;
                display: flex;
                padding: 12px 8px;
                border-top: 1px solid transparent;
                text-decoration: none;
                

                .category__menu{
                  display: flex;
                  align-items: center;
                  width: 100%;

                  .category__menu__icon{
                    height: 18px;
                    margin-left: 8px;
                  }

                  p{
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 2.17;
                    color: #3f4064;
                  }

                }
              }
            }

            .sub__menu{
              padding: 20px 20px 0;

              > div[class^=".sub__menu__section"]{
                display: flex;
                flex-direction: column;
              }
            }
          }
        }

        .nav__item {
          padding: 0 12px;
          height: 40px;
          display: flex;
          align-items: center;

          .nav__item__link {
            text-decoration: none;
            display: flex;
            align-items: center;

            .nav__item__icon {
              margin-left: 4px;
              height: 18px;
            }

            span {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 2.17;
              color: #62666d;
            }
          }
        }

        .nav__item__1281 {
          display: none;
        }

        span.line {
          width: 1px;
          height: 16px;
          display: flex;
          background-color: rgb(224, 224, 226);
        }
      }

      .select__city {
        height: 40px;
        display: flex;
        align-items: center;

        padding-bottom: 4px;
        .select__city__link {
          text-decoration: none;
          display: flex;
          align-items: center;

          .select__city__icon {
            margin-left: 8px;
            height: 20px;
          }

          span {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2.17;
            color: #3f4064;
          }
        }
      }
    }
  }
}

/* select__city__list */
input[id="select__city"]:checked{

  ~ .select__city__list__bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100%;
    z-index: 10;
    inset: 0;  
  }
}

:has(input[id="select__city"]:checked) {  
  html, body {
    overflow: hidden !important;
  }
}

input[id="select__city"]{
  display: none;
}