.container__stories__1024 {
  margin: 0 auto;
  display: block;
  width: 100%;

  .stories {
    position: relative;
    padding-top: 16px;

    .swiper {
      .swiper-slide {
        width: 84px;

        display: flex;

        .story__link {
          width: 84px;
          margin: 0;
        }
      }
    }
  }
}

.container__stories__0 {
  display: none;
}
